<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web_task_manager.mapper.user.UserMapper">

    <resultMap id="result" type="com.example.web_task_manager.entity.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>
    <insert id="insertAll">
        insert into users
        (id, name, username,
         password)
        values (#{id}, #{name}, #{username},
                #{password})

    </insert>
    <select id="findByUsername" resultMap="result">
        select *
        from users
        where
        username = #{username}
    </select>
</mapper>