<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row d-flex justify-content-between">
                    <div class="col-3 fs-5">Web Task Manager</div>
                    <div class="col-3 ps-4">
                        <form th:action="@{/tasklist}">
                            <input type="text" name="title" id="title">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="col-3">
                        <form>
                            <select onchange="this.form.submit()" class="" aria-label="Default select example" th:name="status">
                                <option value="">All Task</option>
                                <option value="Open">Open</option>
                                <option value="InProgress">In Process</option>
                                <option value="Done">Done</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover m-0 p-0">
                    <thead>
                    <th>Title</th>
                    <th>Status</th>
                    <th colspan="3">Activity</th>
                    </thead>
                    <tbody>
                        <tr th:each="task,iState:${listtask}">
                            <td th:utext="${task.title }">Name</td>
                            <td th:utext="${task.status }">Name</td>
                            <td><a class="btn btn-warning"
                                   th:href="@{/task/edit(id=${task.id })}"> <i
                                    class="fa-solid fa-pen">Edit</i>
                            </a></td>
                            <td><a class="btn btn-primary"
                                   th:href="@{/task/show(id=${task.id })}"> <i
                                    class="fa-solid fa-pen">Chi tiết</i>
                            </a></td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal" data-target="#exampleModal${water.id }">
                                    <i class="fa-solid fa-recycle">Delete</i>
                                </button> <!-- Modal -->
                                <div class="modal fade" id="exampleModal${water.id }"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Are you sure that you want to
                                                delete this clothes?</div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                <a class="btn btn-danger"
                                                   th:href="@{/task/delete(id=${task.id })}"> Yes </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary mr-1 ${currentPage==0?'disabled':'' }" th:href="@{/tasklist?page=0}"
                    > <span
                            class="fas fa-backward"></span>
                    </a> <a class="btn btn-primary mr-1 ${currentPage==0?'disabled':'' }" th:href="@{/tasklist(name=${title},page=${currentPage - 1})}"
                > <span
                        class="fas fa-backward-step"></span>
                </a>
                    <h3 th:utext="${currentPage+1 }"></h3> <h3>/</h3>
                    <h3 th:utext="${maxPage }"></h3>
                    <a class="btn btn-primary mr-1 ${currentPage==maxPage-1?'disabled':'' }" th:href="@{/tasklist(page=${currentPage + 1})}"
                    > <span
                            class="fas fa-forward-step"></span>
                    </a> <a class="btn btn-primary ${currentPage==maxPage-1?'disabled':'' }" th:href="@{/tasklist(page=${maxPage - 1 })}"
                > <span
                        class="fas fa-forward"></span>
                </a>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>